@{
    ViewData["Title"] = "Home Page";
}

<div style="flex-grow: 1; text-align: center; padding: 20px;">
    <h1 class="display-4">Welcome to the Contract Monthly Claim System</h1>
    <p>Please sign in to continue.</p>
    <button class="btn btn-primary" onclick="location.href='/Home/LecturerSignIn'">Lecturer Sign-In</button>
    <button class="btn btn-primary" onclick="location.href='/Home/Admin'">Admin Sign-In</button>
</div>